<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/style-photographer.css" rel="stylesheet" type="text/css"/>
    <title><% if (first_name) { %><%= first_name %><% } %></title>


    <style>
      .body, h1,h2,h3,h4,h5,h6,p {font-family: "Verdana", Geneva, Tahoma, sans-serif}
      .body, h1,h2,h3,h4,h5,h6,p {color: rgb(72, 44, 25)}
      .h2 {display:flex}
      .h2 {justify-content: center}
      .row-padding img {margin-top: 35px}
      .row-padding img {margin-right: 50px}
      .row-padding img {margin-left: 30px}
      /* .row-padding {margin-top: -100px} */
    </style>

<!-- NAV BARS -->
  <div class=nav1>
    <a class href="home">Interior Stills</a>
  </div>

  <div class=nav2>
    <a class href="profiles">Search</a>
    <a class href="login">Photographer Portal</a>
    <a class href="about">About</a>
    <a class href="logout">Log Out</a>
    <!-- <a class href="photographerPage">Edit Profile</a> -->
  </div>
</head>


<body>
  
    <!-- GRID FOR PHOTOGRAPHER PORTFOLIO -->
    <div class="row">
      <% if (first_name) { %><h2>Welcome, <%= first_name %></h2><% } %>
      <!-- <div class="row-padding" style="margin:40px -16px"> -->
        <div class="row-padding" style="margin-bottom:-40px">
        <div class="w3-half">
          <img src="/images/residential_12.jpg" alt="Interior_image" style="width:50%">
          <img src="/images/residential_8.jpg" alt="Interior_image" style="width:50%">
        </div>
      </div>
    </div>
 

  <!-- BIO -->
  <div class="row">
    <h2>Photographer Biography</h2>
    <h4><% if (bio) { %><%= bio %><% } %></h4>
  </div>

  

  <div class="row">
    <!-- <div class="row-padding" style="margin:40px -16px"> -->
      <div class="row-padding" style="margin-top:-40px">
    <div class="row-padding">
      <div class="w3-half">
        <img src="/images/residential_9.jpg" alt="Interior_image" style="width:50%">
        <img src="/images/residential_10.jpg" alt="Interior_image" style="width:29%">
      </div>
    </div>
  </div>
</div>

    
  <!-- CONTACT-->
  <div class="row">
    <h2>Contact</h2>

    <div class="contact">
      <p><i class="content"></i> Location: <% if (city) { %><%= city %><% } %> </p>
      <p><i class="content"></i> Mobile: <% if (phone) { %><%= phone %><% } %> </p>
      <p><i class="content"> </i> Email: <% if (email) { %><%= email %><% } %> </p>
    </div>

   
    <p>Lets get in touch. Send me a message:</p>
    <form action="/action_page.php" target="_blank">
      <p><input type="text" placeholder="Name" required name="Name"></p>
      <p><input type="text" placeholder="Email" required name="Email"></p>
      <p><input type="text" placeholder="Subject" required name="Subject"></p>
      <textarea> </textarea>
      
     <p>
        <button type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
     </p> 
  

</div>

</body>
</html>